{{! template-lint-disable require-presentational-children }}
<li class="item">
	<div class="button">
		<div class="layout">
			<div class="status">
				<div class="circle" />
				<AtClass::HasAtClass @class={{scoped-class "svg-completed"}} />
				<AtClass::HasAtClass @class={{scoped-class "svg-skipped "}} />
			</div>
		</div>
	</div>
</li>
