{{page-title "TestEmbroiderCssLayers"}}
<h3>
  Scoped css on route.
  {{this.time}}
</h3>
<Header @title="Hey from V2 addon" @message="EMBEDED CSS file" />
<Footer @title="Hey from V2 addon" @message="CO-LOCATED CSS file" />
<Alert @title="Hey from V2 addon" @message="CO-LOCATED CSS file" />
<MyComponent @title="Hey from app" @message="CO-LOCATED CSS file">
  <Second @title="Also from app" @message="CO-LOCATED CSS file" />
</MyComponent>
<Second @title="Also from app" @message="CO-LOCATED CSS file" />
<Third @title="Hey from GJS file!!!!" @message="EMBEDED CSS file" />
<Forth @title="Hey from GJS file!!!!" @message="CO-LOCATED CSS file" />

<WithClass
  @title="Hey from GJS file!!!!"
  @message="EMBEDED CSS file with backing class"
/>
{{outlet}}