div {
  width: 300px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0px 15px;
  margin-top: 15px;
}

.header {
  margin-top: 0;
  background-color: lightblue;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 15px;
  margin: 0px -15px;
  color: rgb(255, 0, 0);
}

.message {
  font-style: italic;
  font-size: 2em;
}
