div {
  width: 220px;
  border: 1px solid black;
  padding: 0px 15px;
  margin-top: 15px;
}

.header {
  margin-top: 0;
  background-color: lightcoral;
  padding: 15px;
  margin: 0px -15px;
}

.message {
  font-style: italic;
  font-size: 1em;
}
